body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* Use full viewport height */
    flex-direction: row; /* Set the direction of flex items to row */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#data-container {
    max-width: 600px;
    margin: 0 auto;
}

/* Sidebar styles */
.sidebar {
    width: 20%;
    padding: 10px;
    background: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Ensure the sidebar takes the full height */
    box-sizing: border-box;
    overflow-y: auto; /* Allow scrolling if content overflows */
}

/* Main content styles */
.main-content {
    width: 80%;
    height: 100vh; /* Ensure the main content takes the full height */
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
    justify-content: center; /* Center the children vertically */
    align-items: center; /* Center the children horizontally */
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
